Repository Rico040/dart-raylib: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, dart_format, dart_analyze

dartdoc:
  stage: lint
  script:
  - pub get
  - dartdoc --no-auto-include-dependencies --quiet

dart_format:
  stage: lint
  script:
  - '[ -z "$(dart format . | grep "(0 changed)")" ] && exit 1 || exit 0
  
    '

dart_analyze:
  stage: lint
  script:
  - pub get
  - dart analyze

binding
  lib/src/generated_bindings.dart
Due: dartdoc, dart_format, dart_analyze

231 ERRORS!!!!!!!!!!!!!!!!!!!!!
  example/lib/main.dart
  example/pubspec.yaml
  lib/src/classes/bone_info.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model.dart
  lib/src/classes/ray_collision.dart
  lib/src/classes/shader.dart
  lib/src/generated_bindings.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/textures/loading.dart
  lib/src/modules/textures/manipulation.dart
  lib/src/utils/integer.dart
  lib/src/utils/string.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Fix enums (sorta)
  lib/src/enums/blend_mode.dart
  lib/src/enums/camera_mode.dart
  lib/src/enums/config_flags.dart
  lib/src/enums/cubemap_layout.dart
  lib/src/enums/font_type.dart
  lib/src/enums/gamepad_axis.dart
  lib/src/enums/gamepad_button.dart
  lib/src/enums/gesture.dart
  lib/src/enums/keyboard_key.dart
  lib/src/enums/mouse_button.dart
  lib/src/enums/mouse_cursor.dart
  lib/src/enums/n_patch_layout.dart
  lib/src/enums/pixel_format.dart
  lib/src/enums/texture_filter.dart
  lib/src/enums/texture_wrap.dart
Due: dartdoc, dart_format, dart_analyze

add windows library path to examples
  example/lib/core/basic_screen_manager.dart
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
  example/lib/core/camera_3d_mode.dart
  example/lib/core/input_mouse.dart
  example/lib/core/smooth_pixelperfect.dart
  example/lib/core/world_screen.dart
  example/lib/logo.dart
  example/lib/models/mesh_generation.dart
Due: dart_format, dart_analyze

Fix warnings
  lib/src/classes/n_patch_info.dart
  lib/src/enums/pixel_format.dart
  lib/src/modules/core/gamepad.dart
  lib/src/modules/core/keyboard.dart
Due: dartdoc, dart_format, dart_analyze

Implement Native CharArray and use it in private BoneInfo name
  lib/src/classes/bone_info.dart
  lib/src/utils/native_array.dart
Due: dartdoc, dart_format, dart_analyze

dart fix (i hope it won't break shit)
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/world_screen.dart
  lib/src/classes/bone_info.dart
  lib/src/classes/bounding_box.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/font.dart
  lib/src/classes/glyph_info.dart
  lib/src/classes/image.dart
  lib/src/classes/material.dart
  lib/src/classes/material_map.dart
  lib/src/classes/matrix.dart
  lib/src/classes/model.dart
  lib/src/classes/model_animation.dart
  lib/src/classes/n_patch_info.dart
  lib/src/classes/ray.dart
  lib/src/classes/ray_collision.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/render_texture.dart
  lib/src/classes/shader.dart
  lib/src/classes/texture.dart
  lib/src/classes/transform.dart
  lib/src/classes/vector2.dart
  lib/src/classes/vector3.dart
  lib/src/classes/vector4.dart
  lib/src/modules/core/drawing.dart
  lib/src/modules/core/keyboard.dart
  lib/src/modules/modules.dart
  lib/src/modules/textures/drawing.dart
  lib/src/utils/native_array.dart
Due: dartdoc, dart_format, dart_analyze

Update checklist and fixes - credits for fixes to MattieOF
  checklist.md
  lib/src/classes/image.dart
  lib/src/classes/matrix.dart
  lib/src/modules/core/management.dart
  lib/src/modules/core/window.dart
  lib/src/modules/models/generation.dart
Due: dartdoc, dart_format, dart_analyze

Remove unused import
  lib/src/modules/core/window.dart
Due: dartdoc, dart_format, dart_analyze

Update README.md
  README.md
Due: dartdoc

Implement UpdateCameraPro
  lib/src/modules/core/camera.dart
Due: dartdoc, dart_format, dart_analyze

update camera examples
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
Due: dart_format, dart_analyze

Minor typos
  lib/src/classes/color.dart
  lib/src/classes/matrix.dart
Due: dartdoc, dart_format, dart_analyze

Somewhat basic rlgl bindings
  lib/rlgl.dart
  lib/src/generated_bindings.dart
  lib/src/modules/rlgl/rlgl_core.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Formatting coordinates and fixed random
  example/lib/core/camera_3d_first_person.dart
  example/pubspec.yaml
Due: dart_format, dart_analyze

Read full commit - mesh gen example still not fully functional - raymath (wip) - a bit more control for mesh constructor - image get data
  .gitignore
  example/lib/models/mesh_generation.dart
  lib/raymath.dart
  lib/rcamera.dart
  lib/src/classes/image.dart
  lib/src/classes/mesh.dart
  lib/src/constants/raymath.dart
  lib/src/constants/rcamera.dart
  lib/src/enums/gamepad_button.dart
  lib/src/generated_bindings.dart
  lib/src/modules/core/gamepad.dart
  lib/src/modules/raymath/utils.dart
  lib/src/modules/raymath/vector2.dart
  lib/src/modules/rcamera/rcamera_core.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Raymath: Vector2 complete - floatEquals was wrong
  example/lib/core/camera_3d_first_person.dart
  lib/src/constants/raymath.dart
  lib/src/modules/raymath/utils.dart
  lib/src/modules/raymath/vector2.dart
Due: dartdoc, dart_format, dart_analyze

refactor +_+
  lib/src/modules/raymath/vector2.dart
Due: dartdoc, dart_format, dart_analyze

update ffigen
  pubspec.yaml
Due: none

upstream
  lib/src/generated_bindings.dart
Due: dartdoc, dart_format, dart_analyze

Plus operator for pointer arithmetic
  lib/src/classes/bone_info.dart
  lib/src/classes/glyph_info.dart
  lib/src/classes/material.dart
  lib/src/classes/material_map.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model_animation.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/transform.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/textures/manipulation.dart
  lib/src/utils/glyph_info.dart
  lib/src/utils/integer.dart
  lib/src/utils/matrix.dart
  lib/src/utils/model_animation.dart
  lib/src/utils/pointer_list.dart
  lib/src/utils/vector2.dart
  lib/src/utils/vector3.dart
Due: dartdoc, dart_format, dart_analyze

Update stuff
  lib/src/enums/cubemap_layout.dart
  lib/src/generated_bindings.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  dart_format: any of: example/**/*.dart, lib/**/*.dart, test/**/*.dart, .gitlab-ci.yml
  dart_analyze: any of: example/**/*.dart, lib/**/*.dart, test/**/*.dart, .gitlab-ci.yml
