Repository Rico040/dart-raylib: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, dart_format, dart_analyze

dartdoc:
  stage: lint
  script:
  - pub get
  - dartdoc --no-auto-include-dependencies --quiet

dart_format:
  stage: lint
  script:
  - '[ -z "$(dart format . | grep "(0 changed)")" ] && exit 1 || exit 0
  
    '

dart_analyze:
  stage: lint
  script:
  - pub get
  - dart analyze

Removed yq
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Update
  LICENSE
  pubspec.yaml
Due: none

Removed git submodule variable
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Added pub ignore
  .pubignore
Due: none

Test
  .gitignore
  .gitlab-ci.yml
  .pubignore
Due: dartdoc, dart_format, dart_analyze

Fix
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Remove submodule
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Full deinit?
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Update
  .gitlab-ci.yml
Due: dartdoc, dart_format, dart_analyze

Updated README.md
  README.md
Due: dartdoc

Prepare for publish
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  LICENSE
  README.md
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Update
  .gitlab-ci.yml
  README.md
Due: dartdoc, dart_format, dart_analyze

Ignore include directory
  example/.gitignore
  example/include/libraylib.so
Due: none

Added TODO
  lib/src/raylib_instance.dart
Due: dartdoc, dart_format, dart_analyze

Update
  README.md
  example/lib/logo.dart
  lib/raylib.dart
  logo/raylib-dart_256x256.png
Due: dartdoc, dart_format, dart_analyze

Correct path
  README.md
Due: dartdoc

Styled README
  README.md
Due: dartdoc

UpsRW
  example/pubspec.yaml
  lib/src/raylib_instance.dart
Due: dartdoc, dart_format, dart_analyze

Update
  README.md
  example/lib/core/basic_screen_manager.dart
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
  example/lib/core/camera_3d_mode.dart
  example/lib/core/input_mouse.dart
  example/lib/core/smooth_pixelperfect.dart
  example/lib/core/world_screen.dart
  example/lib/logo.dart
  example/lib/main.dart
  lib/raylib.dart
  lib/src/raylib_instance.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Update
  CHANGELOG.md
  example/pubspec.yaml
  pubspec.yaml
Due: none

Improving package
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  example/.gitignore
  example/include/libraylib.so
  example/lib/core/basic_screen_manager.dart
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
  example/lib/core/camera_3d_mode.dart
  example/lib/core/input_mouse.dart
  example/lib/core/smooth_pixelperfect.dart
  example/lib/core/world_screen.dart
  example/lib/logo.dart
  example/lib/main.dart
  example/pubspec.yaml
  lib/raylib.dart
  lib/src/raylib_instance.dart
  logo/raylib-dart_256x256.png
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Update
  CHANGELOG.md
  README.md
  example/lib/core/camera_3d_free.dart
  lib/src/classes/camera_2d.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/matrix.dart
  lib/src/classes/ray.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/vector2.dart
  lib/src/classes/vector3.dart
  lib/src/classes/vector4.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Implemented few more methods and improved API
  example/lib/core/basic_screen_manager.dart
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  lib/src/classes/camera_2d.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/mesh.dart
  lib/src/classes/ray.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/vector2.dart
  lib/src/classes/vector3.dart
  lib/src/classes/vector4.dart
  lib/src/modules/models/geometric.dart
  lib/src/modules/shapes/drawing.dart
  lib/src/modules/textures/color.dart
  lib/src/modules/textures/drawing.dart
  lib/src/utils/vector2.dart
  lib/src/utils/vector3.dart
Due: dartdoc, dart_format, dart_analyze

Update
  checklist.md
  lib/raylib.dart
  lib/src/classes/camera_2d.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/font.dart
  lib/src/classes/glyph_info.dart
  lib/src/classes/image.dart
  lib/src/classes/matrix.dart
  lib/src/classes/mesh.dart
  lib/src/classes/n_patch_info.dart
  lib/src/classes/ray.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/render_texture.dart
  lib/src/classes/texture.dart
  lib/src/classes/vector2.dart
  lib/src/classes/vector3.dart
  lib/src/classes/vector4.dart
  lib/src/generated_bindings.dart
  lib/src/modules/core/drawing.dart
  lib/src/modules/core/time.dart
  lib/src/modules/core/window.dart
  lib/src/utils/native.dart
  lib/src/utils/pointer_list.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

Update
  checklist.md
  example/lib/models/mesh_generation.dart
  lib/raylib.dart
  lib/src/classes/bone_info.dart
  lib/src/classes/camera_2d.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/font.dart
  lib/src/classes/glyph_info.dart
  lib/src/classes/image.dart
  lib/src/classes/material.dart
  lib/src/classes/material_map.dart
  lib/src/classes/matrix.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model.dart
  lib/src/classes/n_patch_info.dart
  lib/src/classes/ray.dart
  lib/src/classes/rectangle.dart
  lib/src/classes/render_texture.dart
  lib/src/classes/shader.dart
  lib/src/classes/texture.dart
  lib/src/classes/transform.dart
  lib/src/classes/vector2.dart
  lib/src/classes/vector3.dart
  lib/src/classes/vector4.dart
  lib/src/modules/core/drawing.dart
  lib/src/modules/models/drawing.dart
  lib/src/modules/models/generation.dart
  lib/src/modules/modules.dart
  lib/src/modules/textures/generation.dart
  lib/src/modules/textures/loading.dart
  lib/src/utils/native_array.dart
  lib/src/utils/native_type.dart
Due: dartdoc, dart_format, dart_analyze

Updated checklist
  checklist.md
  lib/src/classes/camera_3d.dart
  lib/src/classes/image.dart
  lib/src/modules/core/gesture.dart
  lib/src/modules/core/misc.dart
Due: dartdoc, dart_format, dart_analyze

Update
  lib/raylib.dart
  lib/src/classes/model_animation.dart
Due: dartdoc, dart_format, dart_analyze

Update
  checklist.md
  lib/raylib.dart
  lib/src/classes/bounding_box.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model.dart
  lib/src/classes/model_animation.dart
  lib/src/classes/ray_collision.dart
  lib/src/modules/models/collision.dart
  lib/src/modules/models/drawing.dart
Due: dartdoc, dart_format, dart_analyze

Update
  checklist.md
  lib/raylib.dart
  lib/src/classes/camera_2d.dart
  lib/src/classes/camera_3d.dart
  lib/src/classes/color.dart
  lib/src/classes/glyph_info.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model.dart
  lib/src/library.dart
  lib/src/modules/core/camera.dart
  lib/src/modules/core/cursor.dart
  lib/src/modules/core/drawing.dart
  lib/src/modules/core/gamepad.dart
  lib/src/modules/core/gesture.dart
  lib/src/modules/core/keyboard.dart
  lib/src/modules/core/misc.dart
  lib/src/modules/core/mouse.dart
  lib/src/modules/core/time.dart
  lib/src/modules/core/touch.dart
  lib/src/modules/core/window.dart
  lib/src/modules/models/collision.dart
  lib/src/modules/models/drawing.dart
  lib/src/modules/models/generation.dart
  lib/src/modules/models/geometric.dart
  lib/src/modules/shapes/collision.dart
  lib/src/modules/shapes/drawing.dart
  lib/src/modules/text/drawing.dart
  lib/src/modules/text/font.dart
  lib/src/modules/text/misc.dart
  lib/src/modules/textures/color.dart
  lib/src/modules/textures/drawing.dart
  lib/src/modules/textures/generation.dart
  lib/src/modules/textures/loading.dart
  lib/src/raylib_instance.dart
  lib/src/utils/glyph_info.dart
  lib/src/utils/integer.dart
  lib/src/utils/matrix.dart
Due: dartdoc, dart_format, dart_analyze

Refactored opionated code back into proper corresponding bindings
  checklist.md
  example/lib/core/camera_2d.dart
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
  example/lib/logo.dart
  example/lib/models/mesh_generation.dart
  lib/src/classes/color.dart
  lib/src/classes/mesh.dart
  lib/src/classes/model.dart
  lib/src/classes/texture.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/models/management.dart
  lib/src/modules/modules.dart
  lib/src/modules/textures/color.dart
  lib/src/modules/textures/loading.dart
  lib/src/utils/string.dart
Due: dartdoc, dart_format, dart_analyze

Update
  checklist.md
  lib/src/modules/core/management.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/modules.dart
  lib/src/modules/textures/loading.dart
Due: dartdoc, dart_format, dart_analyze

Update
  README.md
  checklist.md
  lib/src/classes/vector2.dart
  lib/src/modules/core/drawing.dart
  lib/src/modules/core/management.dart
  lib/src/modules/core/window.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/text/font.dart
  lib/src/modules/textures/color.dart
  lib/src/modules/textures/loading.dart
  lib/src/modules/textures/manipulation.dart
  lib/src/utils/model_animation.dart
Due: dartdoc, dart_format, dart_analyze

Updated README.md so that the initLibrary windows file path is more clear.
  README.md
Due: dartdoc

Export module core/misc.dart
  lib/src/modules/modules.dart
Due: dartdoc, dart_format, dart_analyze

wip: update raylib to 5.5-dev and fix library errors
  README.md
  lib/src/generated_bindings.dart
  lib/src/modules/core/camera.dart
  lib/src/modules/core/screen_space.dart
  lib/src/modules/models/collision.dart
  lib/src/modules/models/geometric.dart
  lib/src/modules/models/loading.dart
  lib/src/modules/models/management.dart
  lib/src/modules/shapes/drawing.dart
  lib/src/modules/textures/drawing.dart
  lib/src/modules/textures/generation.dart
  pubspec.yaml
Due: dartdoc, dart_format, dart_analyze

fix errors
  example/lib/core/camera_3d_first_person.dart
  example/lib/core/camera_3d_free.dart
  example/lib/core/world_screen.dart
  example/lib/models/mesh_generation.dart
  lib/src/modules/core/camera.dart
Due: dartdoc, dart_format, dart_analyze

update ffigen
  pubspec.yaml
Due: none

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  dart_format: any of: example/**/*.dart, lib/**/*.dart, test/**/*.dart, .gitlab-ci.yml
  dart_analyze: any of: example/**/*.dart, lib/**/*.dart, test/**/*.dart, .gitlab-ci.yml
